// bower:scss
@import '../bower_components/normalize.css/normalize.css';
// endbower

html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background: #999999;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

footer {
    width: 990px;
    margin: 10px auto;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.dashboard {
    width: 990px;
    height: 94%;
    position: relative;
    margin: auto;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75), #ABABAB 0px 0px 3px inset;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.annotation {
    color: #333333;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 300;
    text-transform: uppercase;
}
