.normal {
    background: rgba(93, 93, 93, 0.75);
    color: #78C9D1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 3px 0px rgba(73, 73, 73, 0.75);
    vertical-align: top;
    padding: 2px 1px 0 2px;
    font-size: 13px;
    cursor: pointer;
}

.normal:active {
    box-shadow: none;
}

.disabled {
    composes: normal;
    opacity: 0.4;
    pointer-events: none;
}
