.root {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}