.normal {
    display: block;
    margin: auto;
    transform: rotateX(0deg);
    transform-origin: bottom;
    transition: all 0.3s;
    -webkit-filter: drop-shadow(6px 20px 7px rgba(0,0,0,0.8));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=20, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=20, Color='#444')";
}

.normal:hover {
    transform: rotateX(20deg);
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.8));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
}

.active {
    composes: normal;
    animation: tab-rotate 2s normal;
    animation-fill-mode: forwards;
    -webkit-filter: none;
    -ms-filter: none;
    filter: none;
}

@keyframes tab-rotate {
    50%  {
        transform: rotateX(-30deg);
    }

    100% {
        transform: rotateX(-30deg) translate(0, 200px);
    }
}