.root {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-left: 5px;
    margin-top: 0px;
    position: absolute;
    text-transform:uppercase;
    letter-spacing:1px;
    line-height:22px;
}