.root {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-color: #999999;
    background: url(../../images/car_background@2x.jpg) no-repeat 100% 100%, url(../../images/speckles_background@2x.jpg) repeat;
    background-size: 530px 325px, auto;
}

.dark {
    composes: root;
    background-image: none;
    background-color: rgba(0,0,0,0.8);
}